@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<DOCTYPE html!>
    <html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title> Stajnia Ojcowizna - @ViewData["Title"] </title>
        <link rel="stylesheet"
              type="text/css"
              href="~/css/LayoutEmpty.css" />
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Montserrat" />
        <link rel="stylesheet"
              href="css/all.css"/>
    </head>
    <body>
    <div class="container">
        <div class="content">
            @RenderBody()
        </div>
        <footer class="footer">
            <div class="copyright">
                <p> Copyright @DateTime.Now.Year &copy; </p>
            </div>
        </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
    </body>
    </html>
</DOCTYPE>