@model StajniaOjcowiznaWebApp.Models.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login-Sukcess";
    Layout = "_LayoutEmpty";
}

<div>
    <h1>SUKCESS</h1>
</div>