@model StajniaOjcowiznaWebApp.Models.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutEmpty";
    var styleClass = ViewData["Style"];
}


<div class="space">

</div>
<img class="logo"
     src="image/Logo.png"
     alt="Stajnia Ojcowizna - Logo" />

<form asp-action="LogIn" class="login">
    <fieldset class="signIn">
        <legend class="legend">
            stajniaojcowizna 
        </legend>
        <div class="input">
            <input asp-for="EmailAddress" 
                   placeholder="Email"
                   required/>
            <br />
            <span id="emailIcon">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
        <div class="input">
            <input asp-for="Password"
                   placeholder="Password"
                   required/>
            <br />
            <span id="passwordIcon">
                <i class="fa fa-lock"></i>
            </span>
            
        </div>
        <div>
            <button asp-controller="Login" asp-action="LogInSubbmit"
                    type="submit"
                    class="submit">
            <i class="fa fa-arrow-right"></i>
            </button>
            <span runat="server" id="error" class="error-msg @styleClass"> Adres email lub hasło są niepoprawne </span>
        </div>
    </fieldset>
</form>