body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #EAEAEA;
    font-family: Montserrat;
}

nav {
    display: inline-block;
    width: 260px;
}

.sidebar-content {
    max-height: calc(100% - 30px);
    width: 260px;
    border-right: 2px solid #000;
    height: calc(100% - 30px);
    overflow: auto;
    background-color: #31353d;
}

.sidebar-info {
    margin: 0 auto;
}

.sidebar-info .icon{
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    text-align: center;
}

.sidebar-info .icon .logo {
    width: 130px;
    height: 130px;
}

.sidebar-info .icon .logo-info {
    text-shadow: 2px 2px 2px #000;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    color: #d41f52;
}

.sidebar-header {
    display: flex;
    text-align: left;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
}

.sidebar-header .user-img img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin: 40px 20px 40px 40px;
}

.user-info {
    color: #b8bfce;
    font-size: 14px;
    text-shadow: 1px 1px 2px #000;
}

.user-info p {
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 45px 0px 0px 0px;
}

.user-info .user-role {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin: 10px 0px 40px 0px;
}

.user-choice ul {
    padding: 29px 10px 10px 40px;
}

.user-choice .choice {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 5px;
    padding-bottom: 40px;
}

.user-choice .choice:hover .icon {
    color: #D41F52;
}

.user-choice .icon {
    padding: 10px;
    border-radius: 2px;
    color: #9e9fa1;
    background-color: #39434c;
    font-size: 24px;
}

.user-choice .choice a {
    display: inline-block;
    position: relative;
    top: -3px;
    height: 35px;
    line-height: 37px;
    width: 130px;
    color: #b8bfce;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.user-choice .choice:hover a {
    border-bottom: 2px solid #D41F52;
}

.container {
    display: block;
    position: absolute;
    left: 262px;
    top: 0;
    width: calc(100% - 260px);
}

footer {
    width: 260px;
    height: 30px;
    margin: 0;
    background-color: #31353d;
    border-right: 2px solid #000;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #b8bfce;
}

footer p {
    margin: 0;
}
